nodered/trip-logger-flow.json
[
  {
    "id": "f_trip",
    "type": "tab",
    "label": "Smart Car — Trip Logger",
    "disabled": false,
    "info": "Subscribes to smartcar/telemetry, stores raw rows in Postgres `telemetry`,\nand on 90s of silence (trip ended) upserts a per-trip summary into `trips`."
  },
  {
    "id": "n_mqtt",
    "type": "mqtt in",
    "z": "f_trip",
    "name": "smartcar/telemetry",
    "topic": "smartcar/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "n_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["n_prep", "n_trig"]]
  },
  {
    "id": "n_prep",
    "type": "function",
    "z": "f_trip",
    "name": "build telemetry insert",
    "func": "const p = msg.payload || {};\nif (!p.trip_id) return null;\nflow.set('lastTripId', p.trip_id);\nmsg.query = 'INSERT INTO telemetry (trip_id, ts, rpm, speed, coolant, intake, throttle, engine_load, voltage, fuel) VALUES ($1, to_timestamp($2/1000.0), $3,$4,$5,$6,$7,$8,$9,$10)';\nmsg.params = [p.trip_id, p.ts, p.rpm, p.speed, p.coolant, p.intake, p.throttle, p.load, p.voltage, p.fuel];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 100,
    "wires": [["n_ins"]]
  },
  {
    "id": "n_ins",
    "type": "postgresql",
    "z": "f_trip",
    "name": "insert telemetry",
    "query": "",
    "postgreSQLConfig": "n_pg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 650,
    "y": 100,
    "wires": [["n_dbg1"]]
  },
  {
    "id": "n_dbg1",
    "type": "debug",
    "z": "f_trip",
    "name": "insert result",
    "active": false,
    "tosidebar": true,
    "console": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 100,
    "wires": []
  },
  {
    "id": "n_trig",
    "type": "trigger",
    "z": "f_trip",
    "name": "trip end (90s idle)",
    "op1": "",
    "op2": "trip-end",
    "op1type": "nul",
    "op2type": "str",
    "duration": "90",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 400,
    "y": 200,
    "wires": [["n_agg"]]
  },
  {
    "id": "n_agg",
    "type": "function",
    "z": "f_trip",
    "name": "build trip summary",
    "func": "const tripId = flow.get('lastTripId');\nif (!tripId) return null;\nmsg.query = 'INSERT INTO trips (trip_id, started_at, ended_at, duration_s, distance_km, avg_speed, max_speed, avg_rpm, max_rpm, max_coolant, min_voltage, samples) SELECT trip_id, min(ts), max(ts), EXTRACT(EPOCH FROM (max(ts)-min(ts)))::int, COALESCE(SUM(speed * dt_h), 0), avg(speed), max(speed), avg(rpm), max(rpm), max(coolant), min(voltage), count(*) FROM (SELECT trip_id, ts, speed, rpm, coolant, voltage, EXTRACT(EPOCH FROM (ts - LAG(ts) OVER (PARTITION BY trip_id ORDER BY ts)))/3600.0 AS dt_h FROM telemetry WHERE trip_id = $1) q GROUP BY trip_id ON CONFLICT (trip_id) DO UPDATE SET ended_at=EXCLUDED.ended_at, duration_s=EXCLUDED.duration_s, distance_km=EXCLUDED.distance_km, avg_speed=EXCLUDED.avg_speed, max_speed=EXCLUDED.max_speed, avg_rpm=EXCLUDED.avg_rpm, max_rpm=EXCLUDED.max_rpm, max_coolant=EXCLUDED.max_coolant, min_voltage=EXCLUDED.min_voltage, samples=EXCLUDED.samples';\nmsg.params = [tripId];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 200,
    "wires": [["n_ups"]]
  },
  {
    "id": "n_ups",
    "type": "postgresql",
    "z": "f_trip",
    "name": "upsert trip summary",
    "query": "",
    "postgreSQLConfig": "n_pg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 880,
    "y": 200,
    "wires": [["n_dbg2"]]
  },
  {
    "id": "n_dbg2",
    "type": "debug",
    "z": "f_trip",
    "name": "trip summary written",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 200,
    "wires": []
  },
  {
    "id": "n_broker",
    "type": "mqtt-broker",
    "name": "mosquitto (internal)",
    "broker": "mosquitto",
    "port": 1883,
    "clientid": "nodered-triplogger",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "n_pg",
    "type": "postgreSQLConfig",
    "name": "smartcar-db",
    "host": "postgres",
    "hostFieldType": "str",
    "port": 5432,
    "portFieldType": "num",
    "database": "smartcar",
    "databaseFieldType": "str",
    "ssl": false,
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": 10,
    "maxFieldType": "num",
    "idle": 1000,
    "idleFieldType": "num",
    "connectionTimeout": 10000,
    "connectionTimeoutFieldType": "num"
  }
]
