nodered/trip-logger-flow.json
[
  {
    "id": "f_trip",
    "type": "tab",
    "label": "Smart Car — Trip Logger",
    "disabled": false,
    "info": "Subscribes to smartcar/telemetry, stores raw rows in Postgres `telemetry`,\nand on 90s of silence (trip ended) upserts a per-trip summary into `trips`."
  },
  {
    "id": "n_mqtt",
    "type": "mqtt in",
    "z": "f_trip",
    "name": "smartcar/telemetry",
    "topic": "smartcar/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "n_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["n_prep", "n_trig"]]
  },
  {
    "id": "n_prep",
    "type": "function",
    "z": "f_trip",
    "name": "build telemetry insert",
    "func": "const p = msg.payload || {};\nif (!p.trip_id) return null;\nflow.set('lastTripId', p.trip_id);\nmsg.query = 'INSERT INTO telemetry (trip_id, ts, rpm, speed, coolant, intake, throttle, engine_load, voltage, fuel, maf, fuel_rate, rail_pressure) VALUES ($1, to_timestamp($2/1000.0), $3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13)';\nmsg.params = [p.trip_id, p.ts, p.rpm, p.speed, p.coolant, p.intake, p.throttle, p.load, p.voltage, p.fuel, p.maf, p.fuel_rate, p.rail_pressure];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 100,
    "wires": [["n_ins"]]
  },
  {
    "id": "n_ins",
    "type": "postgresql",
    "z": "f_trip",
    "name": "insert telemetry",
    "query": "",
    "postgreSQLConfig": "n_pg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 650,
    "y": 100,
    "wires": [["n_dbg1"]]
  },
  {
    "id": "n_dbg1",
    "type": "debug",
    "z": "f_trip",
    "name": "insert result",
    "active": false,
    "tosidebar": true,
    "console": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 100,
    "wires": []
  },
  {
    "id": "n_trig",
    "type": "trigger",
    "z": "f_trip",
    "name": "trip end (90s idle)",
    "op1": "",
    "op2": "trip-end",
    "op1type": "nul",
    "op2type": "str",
    "duration": "90",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 400,
    "y": 200,
    "wires": [["n_agg"]]
  },
  {
    "id": "n_agg",
    "type": "function",
    "z": "f_trip",
    "name": "build trip summary",
    "func": "const tripId = flow.get('lastTripId');\nif (!tripId) return null;\nmsg.query = `INSERT INTO trips (trip_id, started_at, ended_at, duration_s, distance_km, avg_speed, max_speed, avg_rpm, max_rpm, max_coolant, min_voltage, samples, fuel_used_l, l_per_100km, route, warmup_s, start_voltage, idle_fuel_lph)\nSELECT trip_id, min(ts), max(ts), EXTRACT(EPOCH FROM (max(ts)-min(ts)))::int,\n COALESCE(SUM(speed*dt_h),0), avg(speed), max(speed), avg(rpm), max(rpm), max(coolant), min(voltage), count(*),\n COALESCE(SUM(fuel_rate*dt_h),0),\n CASE WHEN COALESCE(SUM(speed*dt_h),0) > 0.1 THEN COALESCE(SUM(fuel_rate*dt_h),0)/SUM(speed*dt_h)*100 ELSE NULL END,\n CASE WHEN COALESCE(SUM(speed*dt_h),0) >= 1 THEN '~' || (round(COALESCE(SUM(speed*dt_h),0)/2)*2)::int || ' km' ELSE 'short' END,\n EXTRACT(EPOCH FROM (min(ts) FILTER (WHERE coolant >= 80) - min(ts)))::int,\n (array_agg(voltage ORDER BY ts))[1],\n avg(fuel_rate) FILTER (WHERE speed < 2 AND rpm BETWEEN 500 AND 1100)\nFROM (SELECT trip_id, ts, speed, rpm, coolant, voltage, fuel_rate,\n      EXTRACT(EPOCH FROM (ts - LAG(ts) OVER (PARTITION BY trip_id ORDER BY ts)))/3600.0 AS dt_h\n      FROM telemetry WHERE trip_id = $1) q\nGROUP BY trip_id\nON CONFLICT (trip_id) DO UPDATE SET ended_at=EXCLUDED.ended_at, duration_s=EXCLUDED.duration_s,\n distance_km=EXCLUDED.distance_km, avg_speed=EXCLUDED.avg_speed, max_speed=EXCLUDED.max_speed,\n avg_rpm=EXCLUDED.avg_rpm, max_rpm=EXCLUDED.max_rpm, max_coolant=EXCLUDED.max_coolant,\n min_voltage=EXCLUDED.min_voltage, samples=EXCLUDED.samples, fuel_used_l=EXCLUDED.fuel_used_l,\n l_per_100km=EXCLUDED.l_per_100km, route=COALESCE(trips.route, EXCLUDED.route),\n warmup_s=EXCLUDED.warmup_s, start_voltage=EXCLUDED.start_voltage, idle_fuel_lph=EXCLUDED.idle_fuel_lph`;\nmsg.params = [tripId];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 200,
    "wires": [["n_ups"]]
  },
  {
    "id": "n_ups",
    "type": "postgresql",
    "z": "f_trip",
    "name": "upsert trip summary",
    "query": "",
    "postgreSQLConfig": "n_pg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 880,
    "y": 200,
    "wires": [["n_dbg2", "n_wreq"]]
  },
  {
    "id": "n_dbg2",
    "type": "debug",
    "z": "f_trip",
    "name": "trip summary written",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 200,
    "wires": []
  },
  {
    "id": "n_winject",
    "type": "inject",
    "z": "f_trip",
    "name": "TEST: weather for a trip (edit payload)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "trip-1783051504",
    "payloadType": "str",
    "x": 180,
    "y": 300,
    "wires": [["n_wreq"]]
  },
  {
    "id": "n_wreq",
    "type": "function",
    "z": "f_trip",
    "name": "weather request",
    "func": "const tid = (typeof msg.payload === 'string' && msg.payload.indexOf('trip-') === 0) ? msg.payload : flow.get('lastTripId');\nif (!tid) return null;\nmsg.tripId = tid;\nmsg.payload = { trip_id: tid };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 300,
    "wires": [["n_whttp"]]
  },
  {
    "id": "n_whttp",
    "type": "http request",
    "z": "f_trip",
    "name": "n8n trip-weather",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://n8n:5678/webhook/trip-weather",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 640,
    "y": 300,
    "wires": [["n_wupd"]]
  },
  {
    "id": "n_wupd",
    "type": "function",
    "z": "f_trip",
    "name": "build weather update",
    "func": "const w = msg.payload && msg.payload.current;\nif (!w) { node.warn('no weather in n8n response'); return null; }\nconst codes = {0:'clear',1:'mostly clear',2:'partly cloudy',3:'overcast',45:'fog',48:'rime fog',51:'light drizzle',53:'drizzle',55:'heavy drizzle',61:'light rain',63:'rain',65:'heavy rain',66:'freezing rain',67:'freezing rain',71:'light snow',73:'snow',75:'heavy snow',80:'light showers',81:'showers',82:'heavy showers',85:'snow showers',86:'snow showers',95:'thunderstorm',96:'thunderstorm hail',99:'thunderstorm hail'};\nmsg.query = 'UPDATE trips SET weather_temp_c=$1, weather_wind_kph=$2, weather_desc=$3 WHERE trip_id=$4';\nmsg.params = [w.temperature_2m, w.wind_speed_10m, codes[w.weather_code] || ('code '+w.weather_code), msg.tripId];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 300,
    "wires": [["n_wpg"]]
  },
  {
    "id": "n_wpg",
    "type": "postgresql",
    "z": "f_trip",
    "name": "update trip weather",
    "query": "",
    "postgreSQLConfig": "n_pg",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1090,
    "y": 300,
    "wires": [["n_wdbg"]]
  },
  {
    "id": "n_wdbg",
    "type": "debug",
    "z": "f_trip",
    "name": "weather written",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 300,
    "wires": []
  },
  {
    "id": "n_cfg_std",
    "type": "inject",
    "z": "f_trip",
    "name": "PRESET: standard",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"preset\":\"standard\"}",
    "payloadType": "str",
    "x": 180,
    "y": 380,
    "wires": [["n_cfg_out"]]
  },
  {
    "id": "n_cfg_fuel",
    "type": "inject",
    "z": "f_trip",
    "name": "PRESET: fuel-health (rail pressure)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"preset\":\"fuel-health\"}",
    "payloadType": "str",
    "x": 230,
    "y": 420,
    "wires": [["n_cfg_out"]]
  },
  {
    "id": "n_cfg_out",
    "type": "mqtt out",
    "z": "f_trip",
    "name": "smartcar/config (retained)",
    "topic": "smartcar/config",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n_broker",
    "x": 520,
    "y": 400,
    "wires": []
  },
  {
    "id": "n_broker",
    "type": "mqtt-broker",
    "name": "mosquitto (internal)",
    "broker": "mosquitto",
    "port": 1883,
    "clientid": "nodered-triplogger",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "n_pg",
    "type": "postgreSQLConfig",
    "name": "smartcar-db",
    "host": "postgres",
    "hostFieldType": "str",
    "port": 5432,
    "portFieldType": "num",
    "database": "smartcar",
    "databaseFieldType": "str",
    "ssl": false,
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": 10,
    "maxFieldType": "num",
    "idle": 1000,
    "idleFieldType": "num",
    "connectionTimeout": 10000,
    "connectionTimeoutFieldType": "num"
  }
]
